@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



$primary-gray-color: #E5E6E6;
$primary-green-color: #397B57;
$primary-lightgreen-color: #88AF9A;
$primary-black-color:#0C0C0C;
$font-family: 'Roboto',sans-serif;
$medium-weight: 500;