@use './asbtract/reset';
@use './components/header';
@use './components/footer';
@use './pages/home';
@use './asbtract/variables';
@use './pages/ourProducts';
@use './pages/productDetail';
@use './pages/cart';
@use './pages/checkout';
body{
    font-family: variables.$font-family;
}
a, p, h1, h2, h3, li{
    font-family: variables.$font-family;
}
.page-container{
    margin-top: 70px;
    padding-top:10px ;
    min-height: calc(100vh - 70px);
    width: 100%;
    background-color:  variables.$primary-gray-color;
    text-align: center;
}

.loading-container{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: variables.$primary-lightgreen-color;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}