@use './asbtract/reset';
@use './components/header';

@use './asbtract/variables';

body{
    font-family: variables.$font-family;
}
.page-container{
    margin-top: 70px;
    padding-top:10px ;
    min-height: calc(100vh - 70px);
    width: 100%;
    background-color:  variables.$primary-gray-color;
    text-align: center;
}